<div class="product-details">
  <form #productDetailsForm="ngForm" (ngSubmit)="onSubmit(productDetailsForm)">
    <p>{{product.name}} Details</p>
    <img src="{{product.url}}" style="width: 100px; height: 100px;">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Product Name"
        [(ngModel)]="product.name">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" rows="3" name="description"
        [(ngModel)]="product.description"></textarea>
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input type="number" class="form-control" id="price" placeholder="price" [(ngModel)]="product.price" name="price">
    </div>
    <input type="submit" class="btn btn-success" value="Save">
  </form>
</div>