<div class="product-details">
  <form #productDetailsForm="ngForm" (ngSubmit)="onSubmit(productDetailsForm)">
    <p>{{product.name}} Details</p>
    <img src="{{product.url}}" style="width: 100px; height: 100px;">
    <div class="form-group">
      <label for="name">Name</label>
      <input required type="text" class="form-control" id="name" name="name" placeholder="Product Name"
        [(ngModel)]="product.name" #nameInput="ngModel"
        [ngClass]="{'is-invalid':nameInput.errors && nameInput.touched}">
      <div *ngIf="nameInput.touched && nameInput.invalid">
        <p class="form-text text-danger" *ngIf="nameInput.errors.required">
          Product name is required
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea placeholder="Product Description" class="form-control" id="description" rows="3" name="description"
        [(ngModel)]="product.description"></textarea>
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input required min="1" max="10" type="number" class="form-control" id="price" placeholder="price"
        [(ngModel)]="product.price" name="price" #priceInput="ngModel">
      <div *ngIf="priceInput.touched && priceInput.invalid">
        <p class="form-text text-danger" *ngIf="priceInput.errors.required">
          Price is required
        </p>
        <p class="form-text text-danger" *ngIf="priceInput.errors.min">
          Price must be greater than 0
        </p>
      </div>
    </div>
    <input [disabled]="!productDetailsForm.valid" type="submit" class="btn btn-success" value="Save">
  </form>
</div>