.product-item{
  display: flex;
  box-sizing: border-box;
  border: 1px solid black;
  margin-top: 10px;
  margin: 17px 10px 10px 10px;
  img {
    justify-self: flex-start;
    padding: 7px;
  }
  .item-content {
    align-self: center;
    margin-left: 40px;
  }
  .del-btn {
    align-self: flex-end;
    float: right;
    flex-grow: 5;
    padding: 7px;
  }
}