<div class="product-control-panel-item">
  <button class="btn btn-success">+ Add</button>
</div>
<div class="product-control-panel-item">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  </form>
</div>
<div class="product-control-panel-item">
  <div class="form-group form-inline">
    <label class="product-control-panel-item__label" for="exampleFormControlSelect1">Sort by</label>
    <select class="form-control product-control-panel-item__select" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
</div>