<div class="product-control-panel-item">
  <button class="btn btn-success">+ Add</button>
</div>
<div class="product-control-panel-item">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  </form>
</div>
<div class="product-control-panel-item">
  <div class="form-group form-inline">
    <label for="select">Sort by</label>
    <select class="form-control product-control-panel-item__select" id="select">
      <option *ngFor="let item of selectOptions" [value]="item">{{item}}</option>
    </select>
  </div>
</div>